td,th{
    border: 1px solid black;
    padding: 5px 10px;
}
table{
    border-collapse: collapse;
}
nav>ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 10px;
    padding: 5px;
}
nav li:hover{
    background-color: lightblue;
}
nav li a{
    text-decoration: none;
    color: black;
    
}
nav li .drop{
    display: none;
    position: absolute;
    background-color: lightcoral;
    padding-left: 10px;
}
nav li:hover > .drop{
    display: block;
}